body {
background-image: url(https://media2.giphy.com/media/dZLWXI8VO0oSurblwN/200w.webp?cid=ecf05e47vd385l93a4bsnv8xd6il47c7uqkjodf2easmvhvh&rid=200w.webp&ct=g);
}

.FirstImage {
  width: 50%;
  margin-left: 25%;
  margin-bottom: 18%;
  height: 25%;
  border: 10px solid #ddd;
  border-radius: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.SecondImage {
  width: 50%;
  margin-left: 25%;
  height: 25%;
  border: 10px solid #ddd;
  border-radius: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.ThirdImage {
  width: 50%;
  margin-left: 25%;
  height: 25%;
  border: 10px solid #ddd;
  border-radius: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;

}

.text1 {
  margin-left: 40%;
  font-size: 1.7em;
  color: yellow;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.text2 {
  margin-left: 40%;
  font-size: 1.7em;
  color: yellow;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.text3 {
  margin-left: 40%;
  font-size: 1.7em;
  color: yellow;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

#heading {
  font-size: 158px;
	    text-align: center;
      height:90vh;
	    color: #fcedd8;
	   	font-family: 'Niconne', cursive;
	    font-weight: 700;
      text-shadow: 5px 5px 0px #eb452b,
                  10px 10px 0px #efa032,
                  15px 15px 0px #46b59b,
                  20px 20px 0px #017e7f,
                  25px 25px 0px #052939,
                  30px 30px 0px #c11a2b,
                  35px 35px 0px #c11a2b,
                  40px 40px 0px #c11a2b,
                  45px 45px 0px #c11a2b;
}

#button {
  margin-left: 32%;
  margin-top: 10%;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  background: lightseagreen;
  padding: 30px 60px;
  border-radius: 45px;
  color: white;
  box-shadow: 0 2px 4px darkgray;
}
